@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  box-sizing: border-box;
}

a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
}

body {
  padding-top: 75px;
  background-color: rgb(250, 250, 250);
  font-family: "SEBANG_Gothic_Regular";
  font-size: 14px;
}

/* Nav */

.logo {
  color: white;
  font-family: "SEBANG_Gothic_Bold";
  font-size: 24px;
}

.nav-header {
  background-color: #c79a00;
  height: 75px;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;
}

.nav-menu {
  display: flex;
  justify-content: center;
}

.nav-menu-item {
  background-color: rgb(245, 245, 245);
  padding: 8px 5px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-menu-item-font {
  margin: 1px;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}

.nav--login-btn {
  color: white;
  font-size: 14px;
  font-weight: 800;
  padding: 10px 0px;
}

.footer {
  margin-top: 10px;
  color: rgb(150, 150, 150);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Home */

.mbti-block--container {
  display: flex;
  margin: 20px auto;
  max-width: 500px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.mbti-block--item {
  width: 80px;
  margin: 10px 15px;
  cursor: pointer;
  border: 3px solid rgb(200, 200, 200);
  border-radius: 5px;
  padding-bottom: 2px;
}

.mbti-block--item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.mbti-block__title {
  font-size: 28px;
  text-align: center;
  margin-top: -20px;
  font-family: "ONE-Mobile-POP";
}

.mbti-block__subtitle {
  text-align: start;
  font-size: 12px;
  color: black;
}

.mbti-block__icon {
  margin: 0px 2px 0px 5px;
  display: inline;
  width: 10px;
}

/* login */

.login--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.login--item {
  display: block;
  width: 260px;
  height: 36px;
  margin: 5px;
  padding: 9px 0px 7px 8px;
  border-radius: 5px;
  border: 0px;
}

.login--item.input {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(200, 200, 200);
}

.login--item.submit {
  font-size: 15px;
  margin: 10px 0px;
  font-weight: bold;
  color: white;
  background-color: #42a5f5;
  cursor: pointer;
}

.logout-btn {
  font-size: 15px;
  margin: 10px 0px 5px;
  font-weight: bold;
  color: white;
  background-color: #50b0ff;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.auth--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.auth--container.signup {
  justify-content: space-arounds;
  margin-top: 20px;
}

.auth--item {
  display: inline-block;
  width: 140px;
  min-width: 100px;
  margin: 0px 5px 0px 0px;
  height: 28px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(200, 200, 200);
}

.auth--item--signup {
  display: inline-block;
  color: #0077c2;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.dividing--container {
  display: flex;
  height: 20px;
  width: 280px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.dividing--line {
  background-color: rgba(219, 219, 219);
  height: 1.5px;
  width: 100px;
}

.dividing--font {
  color: rgba(200, 200, 200);
  font-size: 12px;
}

.login-font {
  font-size: 16px;
}

.logo-title-font {
  font-family: "SEBANG_Gothic_Bold";
  display: flex;
  font-size: 38px;
  margin: 30px auto 10px auto;
  justify-content: center;
}

.subtitle-font-wrapper {
  margin: 20px 0px;
}

.subtitle-font {
  display: flex;
  margin: 5px auto;
  justify-content: center;
  color: #b1aeae;
}

.login-box {
  font-family: "ELAND_Choice_M";
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: white;
  width: 350px;
  margin: 0px auto;
  border-radius: 10px;
}

/* profile */

.profile-font--title {
  font-size: 28px;
  font-weight: bold;
}

.profile-head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}

.profile-body {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: -110px auto 0px;
  padding: 80px 20px 10px 20px;
  width: 300px;
}

.profile--item {
  display: block;
  margin: 10px;
}

.profile-font {
  font-size: 18px;
  font-weight: bold;
  color: black;
  display: block;
  margin: 0px 0px 15px 0px;
}

.profile-font--small {
  font-size: 14px;
  color: black;
  margin: 5px 0px;
}

.profile-mbti-block--item {
  display: inline-block;
  padding: 12px 0px;
  width: 40px;
  height: 40px;
}

.auth--email-btn {
  font-weight: bold;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}
