@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

body {
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

mbti-block {
  display: inline;
  color: yellowgreen;
}
